<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <id>io.github.potjerodekool.nabu.lang</id>
    <version>0.0.1</version>
    <description>Compiler support for Nabu language</description>
    <extensions>
        <language-parser implementationClass="io.github.potjerodekool.nabu.compiler.lang.support.nabu.NabuLanguageParser"/>
        <language-support implementationClass="io.github.potjerodekool.nabu.compiler.lang.support.java.JavaLanguageSupport"/>
        <language-support implementationClass="io.github.potjerodekool.nabu.compiler.lang.support.kotlin.KotlinLanguageSupport"/>
        <bytecode-generator
                minJdk="17"
                implementationClass="io.github.potjerodekool.nabu.compiler.backend.generate.asm.AsmByteCodeGenerator"
        />
    </extensions>
</plugin>