---
layout: main
---
<div class="container">
    <nav>
        <ul>
            <li><a href="{{ site.baseurl }}/docs/index.html">Introduction</a></li>
            <li><a href="{{ site.baseurl }}/docs/compiler-plugin/index.html">Compiler plugins</a></li>
            <li><a href="{{ site.baseurl }}/docs/language-support/index.html">Language support</a></li>
            <li><a href="{{ site.baseurl }}/docs/dsl-support/index.html">DSL support</a></li>
            <li><a href="{{ site.baseurl }}/docs/language/nabu/index.html">Nabu language</a></li>
            <li><a href="{{ site.baseurl }}/docs/compiler-design/index.html">Compiler design</a></li>
            <li><a href="{{ site.baseurl }}/docs/testing/index.html">Testing the compiler</a></li>
            <li><a href="{{ site.baseurl }}/docs/api/index.html">Api docs</a></li>
        </ul>
    </nav>
    <main>
        {{ content }}
    </main>
</div>